Library
Temp
*.csproj
*.sln
*.pidb
*.userprefs
**/*.xcodeproj/*
!**/*.xcodeproj/project.pbxproj
!**/*.xcworkspace/contents.xcworkspacedata
plugins/Windows/.vs
plugins/Windows/obj
plugins/Windows/packages/
